<div class="card-container">
  <div class="image mb-4">
    <a [routerLink]="'/movie/' + movie.id">
      <img
        loading="lazy"
        class="rounded-2"
        [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path"
        alt="" />
    </a>

    <div class="rating">
      <circle-progress [percent]="movie.vote_average * 10"></circle-progress>
    </div>
    <div class="like">
      <button class="bg-transparent" (click)="addToCart(movie)">
        <!-- You change to this color "#191bab" when user clicked -->
        <span [style.color]="isLiked ? '#191bab' : '#9bb4e1'">
          <i class="fa-solid fa-heart fa-2xl"></i>
        </span>
      </button>
    </div>
  </div>
  <div class="content">
    <p class="title mb-0 h6 mb-1">
      <a
        class="text-black-50 text-decoration-none"
        [routerLink]="'/movie/' + movie.id"
        title="The Wonderful Story of Henry Sugar"
        >{{ movie.title }}</a
      >
    </p>
    <p class="date mb-0">{{ movie.release_date | date }}</p>
  </div>
</div>
