<div class="hero-section">
  <div class="hero-text">
    <h1 class="fw-bold">Welcome to our movie app.</h1>
    <p class="h5">
      Millions of movies, TV shows and people to discover. Explore now.
    </p>
  </div>
  <div class="mt-5">
    <form
      class="d-flex justify-content-center search"
      role="search"
      (ngSubmit)="queryHandler()">
      <input
        [(ngModel)]="query"
        class="form-control me-2"
        type="search"
        placeholder="Search"
        name="search"
        aria-label="Search" />
      <button class="btn btn-outline-primary me-2" type="submit">Search</button>
      <!-- <input type="reset" class="form-control me-2" /> -->
      <button
        (click)="resetQuery()"
        class="btn btn-outline-danger"
        type="reset">
        Reset
      </button>
    </form>
  </div>
</div>
