<div
  class="d-flex row-gap-5 flex-wrap mt-5 mb-5 bg-white me-4 ms-4 p-5 rounded-3">
  <div *ngFor="let item of cartItems" class="d-flex gap-3 w-50" style="">
    <div>
      <img
        class="rounded-2"
        [src]="'https://image.tmdb.org/t/p/w500' + item.poster_path"
        style="width: 250px; height: 250px"
        alt="Item Image" />
    </div>

    <div class="" style="">
      <h5 class="text-primary">{{ item.title }}</h5>
      <p>{{ item.release_date | date }}</p>
      <p>
        <circle-progress [percent]="item.vote_average * 10"></circle-progress>
      </p>
      <p>{{ item.vote_count }}</p>
      <i class="fa-solid fa-star" style="color: #ede81f"></i>
      <i class="fa-solid fa-star" style="color: #ede81f"></i>
      <i class="fa-solid fa-star" style="color: #ede81f"></i>
      <button type="button" class="btn btn-primary ms-5" (click)="deleteItem(item)">Delete</button>
    </div>
    
  </div>
</div>
