<footer
  class="bg-primary d-flex flex-wrap justify-content-between align-items-center ps-4 pe-4 pt-3 pb-3">
  <p style="color: #bdd6ea" class="col-md-4 mb-0 h6 text-decoration-none">
    © 2023 Team 6, Inc
  </p>

  <a
    href="/"
    class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
    <i class="fa-solid fa-film fa-2xl" style="color: #ffffff"></i>
  </a>

  <ul class="nav col-md-4 justify-content-end gap-3">
    <li class="nav-item">
      <a
        href="#"
        style="color: #bdd6ea"
        class="h6 text-decoration-none"
        routerLinkActive="text-dark"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLink="/"
        >Home</a
      >
    </li>
    <li class="nav-item">
      <a
        href="#"
        style="color: #bdd6ea"
        class="h6 text-decoration-none"
        routerLinkActive="text-dark"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLink="features"
        >Features</a
      >
    </li>
    <li class="nav-item">
      <a
        href="#"
        style="color: #bdd6ea"
        class="h6 text-decoration-none"
        routerLinkActive="text-dark"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLink="pricing"
        >Pricing</a
      >
    </li>
    <li class="nav-item">
      <a
        href="#"
        style="color: #bdd6ea"
        class="h6 text-decoration-none"
        routerLinkActive="text-dark"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLink="q-a"
        >FAQs</a
      >
    </li>
    <li class="nav-item">
      <a
        href="#"
        style="color: #bdd6ea"
        class="h6 text-decoration-none"
        routerLinkActive="text-dark"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLink="about"
        >About</a
      >
    </li>
  </ul>
</footer>
