<div class="mt-5 mb-5 bg-white me-4 ms-4 p-2 rounded-3">
  <p class="h1 mb-1 trending text-primary mb-4">Recommendetions</p>
  <div
    *ngIf="!movies.length"
    class="d-flex justify-content-center text-primary">
    <!-- <div class="spinner-border" role="status"> -->
    <span class="h6">No recommendations found</span>
    <!-- </div> -->
  </div>

  <ul *ngIf="movies" class="d-flex gap-4 justify-content-center flex-wrap">
    <li *ngFor="let item of movies.slice(0, 5)">
      <app-movie-card [movie]="item"></app-movie-card>
    </li>
  </ul>
</div>
